*{
     font-family: "Inter", sans-serif;
}
.head{
    display: flex;
    justify-content: space-around;
}
ul{
    display: flex;
    list-style: none;
    padding: 10px;
    gap: 10px 20px;
    color: #575757;
}
.btn-1{
    background-color: #1D4ED8;
    border: 10px;
    padding: 10px 20px;
    border-radius: 9px;
    color: white;
    cursor: pointer;
    margin-top: 10px;
}
.part-2{
    background-image: url("./B14-A01-DevConf-2026/assets/banner.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 600px ;
    max-width: auto;
    text-align: center;
    
}
.heading{
    color: white;
    text-align: center;
    padding: 100px 500px;
}
.heading-1{
    font-size:50px;
    font-weight: bold;
    gap: 20px;
}
.btn-2{
      background-color: #1D4ED8;
    border: 10px;
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    margin-top: 10px;
}